---
sitemap: false
---
/*
variable declaration
*/

/* branding */
$logo: url("{{ '/assets/logo.png' | absolute_url }}");

/* text */

$body-font:       'Ubuntu', 'Work-Serif', 'sans-serif';
$heading-font:    'Ubuntu', 'Work-Serif', 'sans-serif';


/* Image Size */

$thumbnail-height: 140px;
$thumbnail-width: 140px;

/* colors */

$text-color:      #666560;
$bg-color:        #ffffff;
$neutral:         #eae7de;
$accent-light:    #666560;
$accent-dark:     #3d3c39;
$griff-pink:      #f5cbec;
$griff-green:     #22e09c;

/* viewport sizes */

$max-width:       800px;

/* margins */

$less-margin:     1.0rem;
$margin:          1.5rem;
$more-margin:     2.0rem;
$super-margin:    3.0rem;


$viewer-height:   550px;
$parallax-height: 350px;
$footer-height:   250px;

/*
font & asset import
*/

@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,700&font-display=auto');
@import url('https://fonts.googleapis.com/css?family=Work-Serif:300,400,700&font-display=auto')
@import ('wax');
